.global {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.icon {
	flex-shrink: 0;
}

.textfield {
	flex: 1;
	min-width: 0;
	min-height: 2rem;
	margin-bottom: 1rem;
	
	border: none;
	border-bottom: 2px solid green;
	outline: none;
	background: transparent;
}


.textfield::placeholder
{
	font-size: larger;
	font-family: Arial, Helvetica, sans-serif;
	color:green;
}