.container {
	background-color: #ffffff;
	border-radius: 50px;
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);

	transition:
		transform 0.2s ease,
		box-shadow 0.2s ease;

	padding: 1rem;
	margin-top: 2rem;

	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
}

.container:hover {
	/* état survolé */
	transform: translateY(-6px);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.icon {
	width: 48px;
	height: 48px;
	margin-right: 1rem;
	margin-left: 1rem;
}

.titre {
	display: flex;
	align-items: center;
	gap: 0.4rem;

	margin-bottom: 1rem;
}

.paragraphe {
	font-size: larger;
	margin-right: 1rem;
}

.list {
	padding: 1.5rem;
}

.multiList {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	padding: 1.5rem;
}
