.stepes
{
	width: 100%;
}

.row
{
	width: 100%;
	display:flex;
	flex-direction: row;
	justify-items: start;
	gap:0;
}

.stepeName{
	background-color: transparent;
	border: none;
	font-size: 1.5rem;
	width:6rem;
	color: #00C2C7;
}

.stepeName:focus
{
	outline: none;
	background-color: transparent;
}

.stepeName::placeholder{
	color:#00C2C7;
}

.stepeContent
{
	width: 100%;
	height: 5rem;
	font-size: medium;

	border: none;
	background-color: transparent;

	font-family: Arial, Helvetica, sans-serif;
	max-height: 10rem;
}

.stepeContent:focus
{
	outline: none;
	background-color: transparent;
}
.btn
{
	border:none;
	background-color: transparent;
}

.btn svg{
	width: 32px;
	height: 32px;
}

hr
{
	width: 30%;
	height: 1px;
	background-color: green;
}