.bulleText {
	display: inline-flex;
	align-items: center;
	gap: 0.4rem;

	padding: 0.35rem 0.75rem;
	
	white-space: nowrap;
	box-sizing: border-box;

	font-family: Arial, Helvetica, sans-serif;
}

.bulleText > span:last-child {
	margin-left: auto; /* 🔥 pousse l’icône à droite */
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}

.qte {
	width: auto;                      
	min-width: 3ch;       
	margin-right: 0.05rem;

	flex-shrink: 0;

	border: none;
	background: transparent;
	outline: none;

	text-align: right;
	font: inherit;
	line-height: 1;

	overflow: hidden;
	white-space: nowrap;

	-moz-appearance: textfield;
}

.qte::-webkit-inner-spin-button,
.qte::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.unit {
	font-size: 0.85em;
	opacity: 0.7;
	user-select: none;
}

.text {
	display: inline-flex;
	align-items: center;
	flex-shrink: 0;


	white-space: nowrap;
	line-height: 1;
}
