.button{
	border-radius:100%;
	width: 3.5rem;
	height: 3.5rem;
	max-width: 3.5rem;
	max-height: 3.5rem;
	box-shadow: 0 3px 3px 2px rgb(0, 0, 0,0.50);
	background-color: white;
	border: none;
}

.icon {
	width: 100%;
	height: 100%;
	stroke: green;
}

