
.rect
{
    transition: "fill 0.3s ease"
}

.strength {
	display: flex;
    justify-content:space-around;

	gap: 0.4rem;
	width:90%;
    align-self: center;

    opacity: 0;
	transform: translateY(-6px);

	animation: strength-in 0.25s ease-out forwards;
}


@keyframes strength-in {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}


@keyframes strength-out {
	to {
		opacity: 0;
		transform: translateY(0);
	}
}

.bar {
	width: 25%;
	height: 6px;
	border-radius: 999px;
	background-color: #dcdcdc;

	transform-origin: center;
	transform: scaleY(0.4);
	opacity: 0.4;

	transition:
		background-color 0.3s ease,
		transform 0.2s ease,
		opacity 0.2s ease;
}

.bar.active {
	transform: scaleY(1);
	opacity: 1;
}

