.page{
	display: grid;
	gap: 2rem;
}

.haut {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: minmax(200px, 1fr) minmax(0, 3fr);
	gap: 1rem;
}

.addBtn {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 1rem;
	height: 1rem;

	border-radius: 999px;
	border: 1px solid green;
	background: transparent;

	cursor: pointer;

	transition: 
		background-color 0.2s ease,
		transform 0.15s ease,
		box-shadow 0.15s ease;
}

.addBtn svg {
	width: 1.2rem;
	height: 1.2rem;
}

.addBtn:hover {
	background-color: rgba(0, 128, 0, 0.08);
	transform: translateY(-1px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.addBtn:active {
	transform: translateY(0);
	box-shadow: none;
}

@media (max-width: 900px) {
	.haut {
		grid-template-columns: 1fr; /* ✅ 1 colonne */
	}
}


.IngredientRow
{
	display: flex;
	gap: 1rem;            
	align-items: stretch;
}


.row {
  display: flex;
  gap: 1rem;
  align-items: stretch; /* OK */
}

.row > * {
	flex: 1;            
	min-width: 0;        
}


@media (max-width: 900px) {
	.row {
		flex-direction: column;
	}
}

.ingredient
{
	display: flex;
	flex-direction: column;
	flex:1;

	align-items: stretch;
	justify-content: flex-start;


	gap: 1rem;
}

.title
{
	height: fit-content;
	font: 1.2rem sans-serif;
	font-family: Arial, Helvetica, sans-serif;
	color: green;
	
}

.photo {
  	flex: 1;
  	min-width: 0;
  
 /* ne dépasse jamais la row */
  	overflow: hidden;

  	border-radius: 25px;
  	display: flex;

  	background-color: white;
	border-radius: 25px;
	box-shadow:0px 10px 25px 2px rgba(0, 0, 0,0.50);
}


.photo img {
  width: 100%;
  height: 100%;        /* suit la hauteur du conteneur */
  object-fit: cover;   
  display: block;
}

.recipe
{
	background-color: white;
	border-radius: 25px;
	box-shadow:0px 10px 25px 2px rgba(0, 0, 0,0.50);
	padding: 1rem;
}

.stape
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	max-height: 50rem;
	border-radius: 25px;
	box-shadow:0px 10px 25px 2px rgba(0, 0, 0,0.50);
	padding: 1rem;

	overflow-y: scroll;
}



.listIng {
	display: grid;
	flex:1;
	/* 5 lignes fixes */
	grid-template-rows: repeat(3, auto);

	/* Remplir colonne par colonne */
	grid-auto-flow: column;

	gap: 0.4rem 1rem; /* (ligne, colonne) */
}

@media (max-width: 520px) {
	.listIng {
		grid-template-columns: 1fr;
	}
}


.infoGene
{
	display:flex ;
	flex-direction: column;
	gap:0.5rem;
	flex:content;
}