.page{
	display: grid;
	gap: 2rem;
}

.haut{
	margin-top: 2rem;
	display: grid;
	grid-template-columns: minmax(200px, 1fr) minmax(0, 3fr);
	gap:1rem;
}

.row {
	display: flex;
	gap: 1rem;            
	align-items: center;
}

.row > * {
	flex: 1;            
	min-width: 0;        
}

.ingredient
{
	 flex:content;
}

.photo
{
	border: thin solid black;
}

.recipe
{
	background-color: white;
	border-radius: 25px;
	box-shadow:0px 10px 25px 2px rgba(0, 0, 0,0.50);
	padding: 1rem;
}

.stape
{
	border: thin solid black;
}

.listIng {
	display: grid;

	/* 5 lignes fixes */
	grid-template-rows: repeat(5, auto);

	/* Remplir colonne par colonne */
	grid-auto-flow: column;

	/* Largeur des colonnes générées automatiquement */
	grid-auto-columns: max-content;

	gap: 0.4rem 1rem; /* (ligne, colonne) */
}



.infoGene
{
	display:flex ;
	flex-direction: column;
	gap:0.5rem;
	flex:content;

}