.content {
	display: flex;
    flex-direction: column;
	gap: 2rem;

	width: 100%;
    height: 100%;
	max-width: 1600px;
	margin: 3rem auto;
	padding: 0 1.5rem;

    
	min-height: calc(100vh - 6rem);

    align-items: stretch;
	box-sizing: border-box;
}



.row {
	display: flex;
	width: 100%;
	height: 25rem;
	gap: 1.5rem;
	align-items: stretch;
    justify-content: space-between;
}


.recipe {
    display: flex;
    width: 100%; 

}

.side {
	display: flex;
    width: 35%;
}


.stepe {
	background-color: white;

	flex: 1;       
	min-height: 0;  
}
