.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2px);

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 9999;
}

.popup {
	background: white;
	padding: 2rem 2.5rem;
	border-radius: 16px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.message {
	font-size: 1rem;
	font-weight: 500;
	color: #333;
	text-align: center;
}

/* Loader */
.loader {
	width: 48px;
	height: 48px;
	border: 4px solid #ddd;
	border-top: 4px solid #4caf50;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}


/* couleurs par état */
.loading {}

.success {
	border: 2px solid #4caf50;
}

.error {
	border: 2px solid #f44336;
}

/* icônes */
.successIcon,
.errorIcon {
	width: 48px;
	height: 48px;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 2rem;
	font-weight: bold;
	color: white;
}

.successIcon {
	background-color: #4caf50;
}

.errorIcon {
	background-color: #f44336;
}
