.card {
	width: fit-content;
	height: 320px;

	border-radius: 24px;
	overflow: hidden;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;

	transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.overlay {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 100%;
	height: 100%;

	padding: 1rem;

	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.85),
		rgba(0, 0, 0, 0.3),
		rgba(0, 0, 0, 0.1)
	);

	color: white;
}


.ing {
	display: table-column;
	padding: 1rem;
}

.difficulte {
	display: inline-flex;
	white-space: nowrap;
}

.preparation {
	display: inline-flex;
	white-space: nowrap;
}

.info {
	display: flex;
	gap: 0.4rem;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
}

.title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.complementaire {
	display: flex;
	flex-direction: row;
	gap: 5rem;
	align-items: flex-start;
	width: fit-content;
	margin-right: 1rem;
}

.card:hover {
	/* état survolé */
	transform: translateY(-6px);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
