/* Fond sombre + flou */
.overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 999;
}

/* La popup */
.PopUp {
	width: min(600px, 90vw);
	max-height: 30vh;

	border-radius: 1em;
	box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
	background-color: white;

	padding: 1rem 1.2rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.PopUpContent {
	flex: 1;

	display: grid;

	/* ✅ Colonnes adaptatives selon la largeur de la popup */
	grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));

	/* ✅ Hauteur de ligne régulière (optionnel mais pratique) */
	grid-auto-rows: min-content;

	gap: 1rem 2rem;

	/* ✅ Scroll vertical si trop d’items */
	overflow-y: auto;
	overflow-x: hidden;
}

.ingredient
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	justify-content: end;
	padding: 0.5rem;
	border-radius: 25px;
	border : 1px solid #00C2C7;
}

@keyframes popIn {
	to {
		transform: scale(1) translateY(0);
		opacity: 1;
	}
}

