.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;   
		 
	background-color: white;
	border-radius: 50px;
	font-family: 'Principal';

	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
	padding: 0 1rem;
	margin-bottom: 2rem;

	overflow: visible;
}

.logo {
	flex: 1;    
	color : var(--color-princ);              
}

.action
{
	display: flex;
	flex-direction: row;
	gap : 20rem;
}

.droite
{
	flex:1;
	display: flex;
    justify-content: flex-end;
    position: relative;
}

.actif {
	text-decoration: none;
	border: none;
	border-bottom: 2px solid green;
	padding-bottom: 2px;

}

.lien {
	color: black;
	text-decoration: none;
	font-size: 2ch;
}

.lien:hover{
	border-bottom: 3px solid green;
}