.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap; /* 🔴 clé ici */

	border: thin solid black;
	border-radius: 50px;

	justify-content: left;
	align-items: center;

	font-family: sans-serif;
}

.lien {
	margin-right: 5rem;
}

.logo {
	margin-left: 1rem;
}
