.global {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.icon {
	flex-shrink: 0;
}


.textfield {
	flex: 1;
	min-width: 0;

	border: none;
	border-bottom: 2px solid #00C2C7;
	outline: none;
	background: transparent;
}


.textfield::placeholder
{
	font-size: medium;
	color:#00C2C7;
}