.bulleText {
	display: flex;               
	align-items: center;   
	justify-content: space-between;

	width: auto;
	min-width: var(--bulle-w);
	padding: 0 0.75rem;

	white-space: nowrap;

	font-family: Arial, Helvetica, sans-serif;
}

.text {
	display: flex;  
	align-items: center;  
	height: 100%;
}
