:root{
	--color-princ : green;
	--color-sec   : #00C2C7;
	--color-bg : #FFF6ED;
}

html {
	background-color:var(--color-bg);
	margin: 1rem;
}


html, body, #root {
	height: 100%;
}


@font-face {
	font-family: "Principal";
	src: url(assets/fonts/Aleo/Aleo-Italic-VariableFont_wght.ttf);
}


@font-face {
	font-family: "Principal";
	src: url(assets/fonts/Aleo/Aleo-VariableFont_wght.ttf);
}

@font-face {
	font-family: "Secondaire";
	src: url(assets/fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
	font-family: "SecondaireItalic";
	src: url(assets/fonts/Libre_Franklin/LibreFranklin-Italic-VariableFont_wght.ttf);
}