.overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 999;
}