.grille {
	display: flex;
}

.row {
	flex-flow: row;
}

.container {
	background-color: #ffffff;
	border-radius: 50px;
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);

	transition:
		transform 0.2s ease,
		box-shadow 0.2s ease;

	padding: 1rem;
	margin-top: 2rem;

	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
}

.container:hover {
	/* état survolé */
	transform: translateY(-6px);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
