.page {
	display: grid;
	place-items: center;
}

.top {
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 0 1rem;
}

/* wrapper autour du champ de recherche */
.searchWrap {
	width: 33.333%;
	min-width: 16rem;
	max-width: 40rem;
}

@media (max-width: 700px) {
	.searchWrap {
		width: 100%;
		min-width: 0;
	}
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	gap: 4rem;

	padding: 1rem;
	width: 100%;
	height: 90rem;

	border-radius: 50px;
	border: 0.3rem solid green;

	background-color: white;

	overflow: scroll;
}
