.page {
	display: grid;
	place-items: center;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	gap: 4rem;

	padding: 1rem;
	width: 100%;
	height: 90rem;

	border-radius: 50px;
	border: 0.3rem solid green;

	background-color: white;

	overflow: scroll;
}
